footer > div{
    padding: 2rem 0 1rem;
    display: flex;
    justify-content: space-around;
}

footer > div > div{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

footer img{
    width: 50px;
}

footer ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    align-items: center;
    padding-left: 0;
}

footer span{
    text-align: center;
    margin: auto;
    display: block;
    padding-bottom: 1rem;
}

footer span a{
    color: rgb(80, 80, 80);
}

@media screen and (max-width: 700px) {
    footer > div{
        flex-direction: column;
        row-gap: 50px;
    }

    footer > div > div{
        justify-content: center;
    }

    footer ul{
        column-gap: 30px;
    }
}