@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Rubik', sans-serif;
}

section h2{
    display: inline-flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 1rem;
}

section > div{
    padding: 2rem;
}